@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-short {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #EB5757;
    border-radius: 16px;
    padding: 25px 28px;
}

.header-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #111111;
    margin-top: 50px;
    margin-bottom: 32px;
}

.card-container {

    margin-top: 50px;

}

.card-img-top {
    padding: 25px;
    border-radius: 35px !important;

    height: 300px !important;
}

.card-body {
    padding-left: 25px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;

}

.card-body>h5,
.footer>h5 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #111111;

}

.list-container {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #585858;
    margin-left: -12px;
}



.footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(17, 17, 17, 0.2);
    margin: 0 25px;
    padding: 25px 0;

}

.footer p {
    margin-top: 15px !important;
}


.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FEF7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-seeMore {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background: #EB5757;
    border-radius: 16px;
    padding: 25px 45px;


    color: #FFFFFF;
}

.btn-close {
    position: absolute !important;
    right: -26px;
    top: -26px !important;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: red;
    opacity: 1;

}

.modal-dialog {
    --bs-modal-width: 1000px !important;
    height: 763px !important;

    margin: auto;
}

.modal-header {
    border-bottom: none !important;
}

.modal-card {

    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
    background: #FFFFFF;
    border-radius: 16px;
    width: 131px;
    height: 100px;
}

.modal-feature {
    background-color: rgba(235, 87, 87, 0.05);
    border: 1px solid #EB5757;
    border-radius: 16px;
}

.title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #111111;
    padding: 30px;
}

.features>h5,
.integrations>h5 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #111111;
}

.features>ul>li,
.integrations>ul>li {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #585858
}

.accuracy {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 40px;
    right : 40px;
    padding: 5px 5px;
    border-radius: 5px;


    color: #FFFFFF;
    background-color: red;
}